<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Andruian indexer</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>

<main role="main" class="container" style="padding-top: 16px">
    <div class="row">
        <h2>Index server configuration</h2>
    </div>
    <div class="alert alert-success" th:if="${status != null && status.ok == true}" th:text="${status.message}">
        Success.
    </div>
    <div class="row">
        <hr style="width: 100%"/>
    </div>

    <div class="row">
        <div class="col-6">
            <h4>Manage data definitions</h4>
            <!-- TODO table of existing datadefs with option to delete. -->

            <form action="#" th:action="@{/admin/addDatadef}" th:object="${datadefParam}" method="post">
                <div class="form-group">
                    <label for="datadef-uri">Data definition source URL</label>
                    <input type="text" class="form-control" id="datadef-uri" th:name="fileUrl"/>
                </div>

                <input type="submit" class="btn btn-primary" value="Add"/>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <hr style="width: 100%"/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>Indexed datadefs</h4>
            <table class="table table-striped table-hover">
                <th:block th:if="${datadefs}!=null" th:each="datadef : ${datadefs}">
                    <tr>
                        <td style="vertical-align: middle;" th:utext="'<a href=&quot;'+${datadef.fileUrl}+'&quot;>'+${datadef.fileUrl}+'</a>'"></td>
                        <td style="vertical-align: middle;">
                            <form style="margin-bottom: 0" action="#" th:action="@{/admin/reindex}" th:object="${datadefParam}" method="post">
                                <input type="hidden" th:value="${datadef.fileUrl}" th:name="fileUrl"/>
                                <input type="hidden" th:value="full" th:name="reindexType"/>
                                <input type="submit" class="btn btn-primary" value="Full reindex"/>
                            </form>
                        </td>
                        <td style="vertical-align: middle;">
                            <form style="margin-bottom: 0" action="#" th:action="@{/admin/reindex}" th:object="${datadefParam}" method="post">
                                <input type="hidden" th:value="${datadef.fileUrl}" th:name="fileUrl"/>
                                <input type="hidden" th:value="incremental" th:name="reindexType"/>
                                <input type="submit" class="btn btn-primary" value="Incremental reindex"/>
                            </form>
                        </td>
                        <td style="vertical-align: middle;">
                            <form style="margin-bottom: 0" action="#" th:action="@{/admin/deleteddf}" th:object="${datadefParam}" method="post">
                                <input type="hidden" th:value="${datadef.fileUrl}" th:name="fileUrl"/>
                                <input type="submit" class="btn btn-danger" value="Delete"/>
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>

</main>

</body>